
* {
	font-family: 'Verdana', sans-serif;
	font-size: 20px;
}
p {
	color: yellow;
}
h1 {
	font-size: 40px;
}
h2 {
	text-transform: uppercase;
}
.languages {
	background-color: blueviolet;
}

li[id] {
	border: 1px solid pink;
}

img + ul > li {
	letter-spacing: 10px;
	list-style-type: none;
}

section img {
	height: 300px;
	width: 300px;
	border-radius: 150px;
}

ul ~ p {
	text-align: center;
	color: inherit;
}
